//Universal variables
$font-stack: 'Poppins', sans-serif;

//Dark background variables
$primary-color:   #ededed;
$secondary-color: #55e8fc;
$background-color: #2c2c2c;
$background-dot-color: #202020;
$link-color: #8cb0f1;

//White background variables
$primary-color2:  #000000;
$secondary-color2: #464646;
$background-color2:  #ededed;
$background-dot-color2: #e0e0e0;
$link-color2: #278D9B;

//Light Purple variables
$primary-color3:  #000000;
$secondary-color3: #8067ca;
$background-color3: 	#dedae9;
$background-dot-color3: 	#cfcbdf;
$link-color3: #8cb0f1;

//cv color variables
$cv-color: rgb(243, 250, 185);






